In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data1.csv")

In [3]:
df2 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data2.csv")
df3 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data3.csv")
df4 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data4.csv")
df5 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data5.csv")
df6 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data6.csv")
df7 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data7.csv")
df8 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data8.csv")
df9 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data9.csv")
df10 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data10.csv")
df11 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data11.csv")
df12 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data12.csv")
df13 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data13.csv")
df14 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data14.csv")
df15 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data15.csv")
df16 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data16.csv")

In [4]:
df17 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data17.csv")
df18 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data18.csv")
df19 = pd.read_csv("https://api.covid19india.org/csv/latest/raw_data19.csv")

In [5]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [6]:
df3.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [7]:
df7.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [8]:
df13.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [9]:
df19.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [10]:
df1 = df1.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]

In [11]:
df2 = df2.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df3 = df3.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df4 = df4.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df5 = df5.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df6 = df6.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df7 = df7.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df8 = df8.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df9 = df9.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df10 = df10.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df11 = df11.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df12 = df12.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df13 = df13.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df14 = df14.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df15 = df15.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df16 = df16.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df17 = df17.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df18 = df18.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]
df19 = df19.loc[:,['Num Cases','Date Announced','Age Bracket','Gender', 'Detected City', 'Detected District', 'Detected State','Current Status']]

In [12]:
df = df1.append([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19])

In [13]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered
...,...,...,...,...,...,...,...,...
14695,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN
14696,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN
14697,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN
14698,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN
14699,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
DATE = df['Date Announced'].str.split('/',expand = True)

In [15]:
DATE.columns = ['Day','Month','Year']

In [16]:
DATE

      Day Month  Year
0      30    01  2020
1      02    02  2020
2      03    02  2020
3      02    03  2020
4      02    03  2020
...    ..   ...   ...
14695  23    11  2020
14696  23    11  2020
14697  23    11  2020
14698  23    11  2020
14699  23    11  2020

[419655 rows x 3 columns]

In [17]:
df = pd.concat([df,DATE],axis=1)

In [18]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1.0,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1.0,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1.0,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1.0,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1.0,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
14695,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,23,11,2020
14696,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,23,11,2020
14697,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,23,11,2020
14698,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,23,11,2020
14699,NaN,23/11/2020,NaN,NaN,NaN,NaN,NaN,NaN,23,11,2020

In [19]:
df.to_csv('Covid19India.csv')